.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  z-index: 1000;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar nav {
  display: flex;
  gap: 30px;
}

.navbar nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.navbar nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #b45f06;
  transition: 0.3s;
}

.navbar nav a:hover::after {
  width: 100%;
}

.social {
  display: flex;
  gap: 12px;
}

.social i {
  width: 36px;
  height: 36px;
  background: #b45f06;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

/* ================= RESPONSIVE NAVBAR ================= */

/* Tablet */
@media (max-width: 992px) {
  .navbar {
    padding: 0 30px;
    height: 70px;
  }

  .navbar nav {
    gap: 20px;
  }

  .navbar nav a {
    font-size: 15px;
  }

  .social i {
    width: 32px;
    height: 32px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .navbar nav {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    display: none;
  }

  .navbar nav.active {
    display: flex;
  }

  .social {
    display: none;
  }

  .menu-btn {
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
     margin-right: 55px;
  }

  .menu-btn span {
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 2px;
  }
}

