.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

.auth-box {
  width: 320px;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
